* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family:  'Inter', system-ui, -apple-system, sans-serif;
    background-color: #F8F9FA;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cabecalho{
    width: 100%;
    height: 80px;
    background-color: #031329;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    
}

.cabecalho img{
    width: 17vw;
    height: 80px;
}

.nav {
    display: flex;
    gap:2.5rem;
    
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4rem;
    border-radius: 8px;
}

.nav a:hover{
    
    text-decoration: underline;
}

/* Estilizando Card de Input */

.cardInput{
    width:90vw;
    height: 59vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
   
    padding: 1rem;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.15);
    margin-top: 0;
    padding-top: 0;
    gap: 3rem;
    
    
}

.imgTitulo{
    padding-left: 2rem;
    padding-top: 2rem;
    width: 28rem;
    height: auto;
}

.form button{
    border: none;
    cursor:pointer;
    width: 10rem;
    height: 2.5rem;
 

}

.imgBtn{
    width: 10rem;
    height: 2.5rem;
    display: block;
    border-radius: 8px;
    outline: none;
    transition: transform 0.1s;
}

.imgBtn:active{
    transform:scale(0.95)

}

.form{
   display: flex;
   align-items: end;
   gap: 4rem;
   padding-left: 3rem;
   
}

.form div{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form div label{
    font-weight: bold;
}
.form div input{
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    outline: none;
    width: 15rem;
    height: 2rem;
    padding: 1rem;
}
.form div input:focus{
    border: 1px solid #000;
}

/* Estilizando a Lista de Usuários */

.cardLista{
    width:90vw;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.15);
    padding-left: 3rem;
    padding-right:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.table{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.linhaCab, .linhaBod{  /*linha do cabeçalho*/
    display:flex;
    align-items: center;
    width: 100% ;
    height:3.5rem ;
    padding: 0 1.5rem;
}

.linhaCab{
    background-color: #dddada;
    border-radius: 8px;
    

}

.table th, .table td{
    flex:1;
    text-align: left;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* 5. AGORA FUNCIONA: Forçando apenas a coluna do ID a ser pequena */
.colunaId {
    flex: 0 0 80px !important; /* Não deixa o flex esticar ela. Fixa em 80px */
}

.imgLista{
    width: 20rem;
    height: auto;
}



.botoes{
    border: none;
    cursor:pointer;
    width: 7rem;
    height: 2rem;
    border-radius: 8px;
    
}

.imgEdtr, .imgExclr{
    width: 7rem;
    height: 2rem;
    transition: transform 0.1s;
}
.imgExclr:active, .imgEdtr:active{
    transform:scale(0.95)

}

.linhaBotao{
    display: flex;
    gap: 1rem;
}



.rodape{
    display: flex;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: #031329;
    color: white;
}